#include <position_map.dtsi>
#include <physical_layouts.dtsi>

 / {
     layout_tusks: layout_tusks {
         compatible = "zmk,physical-layout";
         display-name = "Default";

         keys  //                     w   h    x    y     rot    rx    ry
             = <&key_physical_attrs 100 100    0   36       0     0     0>
             , <&key_physical_attrs 100 100  100   36       0     0     0>
             , <&key_physical_attrs 100 100  200   11       0     0     0>
             , <&key_physical_attrs 100 100  300   -1       0     0     0>
             , <&key_physical_attrs 100 100  400   11       0     0     0>
             , <&key_physical_attrs 100 100  500   23       0     0     0>
             , <&key_physical_attrs 100 100  900   23       0     0     0>
             , <&key_physical_attrs 100 100 1000   11       0     0     0>
             , <&key_physical_attrs 100 100 1100  -1       0     0     0>
             , <&key_physical_attrs 100 100 1200   11       0     0     0>
             , <&key_physical_attrs 100 100 1300   36       0     0     0>
             , <&key_physical_attrs 100 100 1400   36       0     0     0>

             , <&key_physical_attrs 100 100    0  136       0     0     0>
             , <&key_physical_attrs 100 100  100  136       0     0     0>
             , <&key_physical_attrs 100 100  200  111       0     0     0>
             , <&key_physical_attrs 100 100  300   98       0     0     0>
             , <&key_physical_attrs 100 100  400  111       0     0     0>
             , <&key_physical_attrs 100 100  500  123       0     0     0>
             , <&key_physical_attrs 100 100  900  123       0     0     0>
             , <&key_physical_attrs 100 100 1000  111       0     0     0>
             , <&key_physical_attrs 100 100 1100   98       0     0     0>
             , <&key_physical_attrs 100 100 1200  111       0     0     0>
             , <&key_physical_attrs 100 100 1300  136       0     0     0>
             , <&key_physical_attrs 100 100 1400  136       0     0     0>

             , <&key_physical_attrs 100 100    0  236       0     0     0>
             , <&key_physical_attrs 100 100  100  236       0     0     0>
             , <&key_physical_attrs 100 100  200  211       0     0     0>
             , <&key_physical_attrs 100 100  300  198       0     0     0>
             , <&key_physical_attrs 100 100  400  211       0     0     0>
             , <&key_physical_attrs 100 100  500  223       0     0     0>
             , <&key_physical_attrs 100 100  900  223       0     0     0>
             , <&key_physical_attrs 100 100 1000  211       0     0     0>
             , <&key_physical_attrs 100 100 1100  198       0     0     0>
             , <&key_physical_attrs 100 100 1200  211       0     0     0>
             , <&key_physical_attrs 100 100 1300  236       0     0     0>
             , <&key_physical_attrs 100 100 1400  236       0     0     0>

             , <&key_physical_attrs 100 100 348  313       0     0     0>
             , <&key_physical_attrs 100 100 348  313       0     0     0>
             , <&key_physical_attrs 100 100 348  313       0     0     0>
             , <&key_physical_attrs 100 100 600  200       0     0     0>

             , <&key_physical_attrs 100 100 800  200       0     0     0>
             , <&key_physical_attrs 100 100 1052  313       0     0     0>
             , <&key_physical_attrs 100 100 1052  313       0     0     0>
             , <&key_physical_attrs 100 100 1052  313       0     0     0>
         ;
     };
 };

&layout_tusks_position_map {
    layout_tusks_posmap: six {
        physical-layout = <&layout_tusks>;
        positions
            = < 0  1  2  3  4  5        6  7  8  9 10 11>
            , <12 13 14 15 16 17       18 19 20 21 22 23>
            , <24 25 26 27 28 29 30 31 32 33 34 35 36 37>
            , <         38 39 40       41 42 43      >;
    };
};
