# Copyright (c) 2024 Walrus
# SPDX-License-Identifier: MIT

config SHIELD_TUSKS_LEFT
    def_bool $(shields_list_contains,tusks_left)

config SHIELD_TUSKS_RIGHT
    def_bool $(shields_list_contains,tusks_right)
