/*
 * Copyright (c) 2024 The Uthol
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR   1
#define RAI   2
#define SET   3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp Q  &kp W     &kp F    &kp P      &kp G     &kp J    &kp L    &kp U      &kp Y     &kp SEMI       &kp BSPC
&kp LSHFT  &kp A  &kp R     &kp S    &kp T      &kp D     &kp H    &kp N    &kp E      &kp I     &kp O          &kp SQT
&kp LCTRL  &kp Z  &kp X     &kp C    &kp V      &kp B     &kp K    &kp M    &kp COMMA  &kp DOT   &mt BSLH FSLH  &gresc
                  &kp LALT  &mo LWR  &kp SPACE  &kp K_PP  &mo SET  &kp RET  &mo RAI    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp K_NEXT K_PREVIOUS>;
        };

        lower_layer {
            bindings = <
&kp TAB    &kp Q  &kp W     &kp F    &kp P      &kp G     &kp J    &kp L    &kp U      &kp Y     &kp SEMI       &kp BSPC
&kp LSHFT  &kp A  &kp R     &kp S    &kp T      &kp D     &kp H    &kp N    &kp E      &kp I     &kp O          &kp SQT
&kp LCTRL  &kp Z  &kp X     &kp C    &kp V      &kp B     &kp K    &kp M    &kp COMMA  &kp DOT   &mt BSLH FSLH  &gresc
                  &kp LALT  &mo LWR  &kp SPACE  &kp K_PP  &mo SET  &kp RET  &mo RAI    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp K_VOL_UP K_VOL_DN>;
            label = "LWR";
        };

        raise_layer {
            bindings = <
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp NUMBER_6  &kp N7   &kp N8     &kp N9    &kp N0         &kp DEL
&kp LSHFT  &kp A         &kp R         &kp S         &kp T         &kp D     &kp H         &kp N    &kp E      &kp I     &kp O          &kp SQT
&kp LCTRL  &kp Z         &kp X         &kp C         &kp V         &kp B     &kp K         &kp M    &kp COMMA  &kp DOT   &mt BSLH FSLH  &gresc
                         &trans        &trans        &trans        &kp K_PP  &mo SET       &kp RET  &mo RAI    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp K_VOL_UP K_VOL_DN>;
            label = "RAI";
        };

        settings_layer {
            bindings = <
&kp TAB    &kp Q  &kp W     &kp F    &kp P      &kp G     &kp J    &kp L    &kp U      &kp Y     &kp SEMI       &kp BSPC
&kp LSHFT  &kp A  &kp R     &kp S    &kp T      &kp D     &kp H    &kp N    &kp E      &kp I     &kp O          &kp SQT
&kp LCTRL  &kp Z  &kp X     &kp C    &kp V      &kp B     &kp K    &kp M    &kp COMMA  &kp DOT   &mt BSLH FSLH  &gresc
                  &kp LALT  &mo LWR  &kp SPACE  &kp K_PP  &mo SET  &kp RET  &mo RAI    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp K_VOL_UP K_VOL_DN>;
            label = "SET";
        };
    };
};
