#include <layouts/tusks/position_map.dtsi>
#include <physical_layouts.dtsi>

/ {
	tusks_6col_layout: tusks_6col_layout {
		compatible = "zmk,physical-layout";
		display-name = "6 Column";
		
      	keys
		// Row 0
		= <&key_physical_attrs 100 100    0   36     0     0     0>
		, <&key_physical_attrs 100 100  100   36     0     0     0>
		, <&key_physical_attrs 100 100  200   11     0     0     0>
		, <&key_physical_attrs 100 100  300   -1     0     0     0>
		, <&key_physical_attrs 100 100  400   11     0     0     0>
		, <&key_physical_attrs 100 100  500   24     0     0     0>

		, <&key_physical_attrs 100 100  900   24     0     0     0>
		, <&key_physical_attrs 100 100 1000   11     0     0     0>
		, <&key_physical_attrs 100 100 1100   -1     0     0     0>
		, <&key_physical_attrs 100 100 1200   11     0     0     0>
		, <&key_physical_attrs 100 100 1300   36     0     0     0>
		, <&key_physical_attrs 100 100 1400   36     0     0     0>

		// Row 1
		, <&key_physical_attrs 100 100    0  136     0     0     0>
		, <&key_physical_attrs 100 100  100  136     0     0     0>
		, <&key_physical_attrs 100 100  200  111     0     0     0>
		, <&key_physical_attrs 100 100  300   99     0     0     0>
		, <&key_physical_attrs 100 100  400  111     0     0     0>
		, <&key_physical_attrs 100 100  500  124     0     0     0>

		, <&key_physical_attrs 100 100  900  124     0     0     0>
		, <&key_physical_attrs 100 100 1000  111     0     0     0>
		, <&key_physical_attrs 100 100 1100   99     0     0     0>
		, <&key_physical_attrs 100 100 1200  111     0     0     0>
		, <&key_physical_attrs 100 100 1300  136     0     0     0>
		, <&key_physical_attrs 100 100 1400  136     0     0     0>

		// Row 2
		, <&key_physical_attrs 100 100    0  236     0     0     0>
		, <&key_physical_attrs 100 100  100  236     0     0     0>
		, <&key_physical_attrs 100 100  200  211     0     0     0>
		, <&key_physical_attrs 100 100  300  199     0     0     0>
		, <&key_physical_attrs 100 100  400  211     0     0     0>
		, <&key_physical_attrs 100 100  500  224     0     0     0>

		, <&key_physical_attrs 100 100  900  224     0     0     0>
		, <&key_physical_attrs 100 100 1000  211     0     0     0>
		, <&key_physical_attrs 100 100 1100  199     0     0     0>
		, <&key_physical_attrs 100 100 1200  211     0     0     0>
		, <&key_physical_attrs 100 100 1300  236     0     0     0>
		, <&key_physical_attrs 100 100 1400  236     0     0     0>

		// Thumbs
		, <&key_physical_attrs 100 100  348  313     0     0     0>
		, <&key_physical_attrs 100 100  348  313  1500   398   788>
		, <&key_physical_attrs 100 100  348  313  3000   398   788>
		, <&key_physical_attrs 100 100  600  200     0     0     0>

		, <&key_physical_attrs 100 100  800  200     0     0     0>
		, <&key_physical_attrs 100 100 1052  313 (-3000) 1102  788>
		, <&key_physical_attrs 100 100 1052  313 (-1500) 1102  788>
		, <&key_physical_attrs 100 100 1052  313     0     0     0>
		;
    };
};

&layouts_tusks_position_map {
	tusks_6col_posmap: six {
		physical-layout = <&tusks_6col_layout>;
		positions
		= <  0  1  2  3  4  5        6  7  8  9 10 11 >
		, < 12 13 14 15 16 17       18 19 20 21 22 23 >
		, < 24 25 26 27 28 29       30 31 32 33 34 35 >
		, <          36 37 38 39 40 41 42 43          >;
	};
};
